{% extends '@PiCRUD/form.html.twig' %}

{% block form_title %}
    <h1>{{ 'pi_crud.form.add.title'|trans({'entity_label': type}) }} <span class="text-primary">{{ entity }}</span></h1>
{% endblock %}

{% block form_action %}
    {{ 'pi_crud.form.add.save'|trans({'entity_label': type}) }}
{% endblock %}
