<div class="modal fade" id="modal-confirm-delete" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-delete-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-confirm-delete-label">{{ 'pi_crud.delete.title'|trans({'entity_label': type}) }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ 'pi_crud.delete.content'|trans({'entity_label': type}) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-muted" data-dismiss="modal">{{ 'pi_crud.delete.cancel'|trans({'entity_label': type}) }}</button>
                <a type="button" class="btn btn-danger">{{ 'pi_crud.delete.confirm'|trans({'entity_label': type}) }}</a>
            </div>
        </div>
    </div>
</div>
