{% extends 'base.html.twig' %}

{% block content_body %}
    <div class="row py-4">
        <div class="col-12 col-lg-10 offset-lg-1">
            {% block content_body_title %}
                <h1>{{ 'pi_crud.list.title'|trans({'entity_label': type}) }}</h1>
            {% endblock content_body_title %}
            <div class="row">
                {% for entity in entities %}
                    {{ sonata_block_render({ 'type': 'block.item' }, {
                        'type': type,
                        'mode': 'default',
                        'item': entity
                    }) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
