{% extends 'base.html.twig' %}

{% block content %}
    <div class="container py-4">
        {{ sonata_block_render({ 'type': 'block.breadcrumb' }, {}) }}

        {% block content_body_title %}
            <h1>{{ 'pi_crud.list.title'|trans({'entity_label': type}) }}</h1>
        {% endblock content_body_title %}

        <div class="row pt-4">
            {% for entity in entities %}
                {{ sonata_block_render({ 'type': 'block.item' }, {
                    'type': type,
                    'mode': 'default',
                    'item': entity
                }) }}
            {% endfor %}

            {% if entities|length == 0 %}
                <div class="col-12">
                    {{ 'pi_crud.list.empty_result'|trans({'entity_label': type}) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
