<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://symfony.com/schema/routing" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/routing https://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="pi_crud_dashboard" path="/admin">
        <default key="_controller">PiWeb\PiCRUD\Controller\AdminController::index</default>
    </route>

    <route id="pi_crud_show" path="/{type}/{id}">
        <default key="_controller">PiWeb\PiCRUD\Controller\CRUDController::show</default>
        <requirement key="id">\d+</requirement>
    </route>

    <route id="pi_crud_list" path="/{type}">
        <default key="_controller">PiWeb\PiCRUD\Controller\CRUDController::list</default>
    </route>

    <route id="pi_crud_admin" path="/{type}/list">
        <default key="_controller">PiWeb\PiCRUD\Controller\CRUDController::list</default>
    </route>

    <route id="pi_crud_admin" path="/{type}/admin">
        <default key="_controller">PiWeb\PiCRUD\Controller\CRUDController::admin</default>
    </route>

    <route id="pi_crud_add" path="/{type}/add">
        <default key="_controller">PiWeb\PiCRUD\Controller\CRUDController::add</default>
    </route>

    <route id="pi_crud_edit" path="/{type}/{id}/edit">
        <default key="_controller">PiWeb\PiCRUD\Controller\CRUDController::edit</default>
        <requirement key="id">\d+</requirement>
    </route>

    <route id="pi_crud_delete" path="/{type}/{id}/delete">
        <default key="_controller">PiWeb\PiCRUD\Controller\CRUDController::delete</default>
        <requirement key="id">\d+</requirement>
    </route>

    <route id="pi_crud_json" path="/{type}/json">
        <default key="_controller">PiWeb\PiCRUD\Controller\CRUDController::all</default>
    </route>
</routes>
